body {
    background: url("../img/top_bg.png") center 0 no-repeat black;
    position: relative;
    min-width: 950px;
}

.clear{
	margin: 25px;
}

.logo{
	margin-left: 190px;
	margin-bottom: 20px;
}

.login_area {
    background: url("../img/qlogin_bg.png") 0 0 no-repeat;
    height: 35px;
    margin-top: 19px;
    position: relative;
    width: 100%;
    margin-left: 170px;
}

.login_area > br {
    display: none;
}

.login_area > div {
    height: inherit;
    position: absolute;
}

.login_area .billet, .login_area .billet:before, .login_area .billet .billet_logo, .login_area .billet .billet_title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
}

.login_area .billet {
    background-color: #384f76;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.23);
    box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.23);
    height: inherit;
    left: 0;
    top: 0;
    width: 283px;
}

.login_area .billet:before {
    background: url("../img/billet_pattern.png") no-repeat left top;
    content: "";
    height: 39px;
    left: 35px;
    top: -3px;
    width: 31px;
}

.login_area .billet .billet_logo {
    background: url("../img/billet_logo.png") no-repeat left top;
    left: 4px;
    height: 21px;
    top: 8px;
    width: 30px;
}

.login_area .billet .billet_title {
    background: url("../img/billet_title.png") no-repeat left top;
    left: 74px;
    height: 13px;
    top: 12px;
    width: 185px;
}